<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <th:block th:include="fragments/header"></th:block>
    <th:block th:include="fragments/cart/cart"></th:block>
    <th:block th:include="fragments/script"></th:block>
    <th:block th:include="fragments/footer"></th:block>
    <script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    </script>
</body>
</html>