						<div class="row my-2">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="form-group">
									<h5>Login Form</h5>
									<p> Created Simple Login Form.</p>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-outline-warning block btn-lg" data-toggle="modal" data-target="#inlineForm">
										Launch Modal
									</button>

									<!-- Modal -->
									<div class="modal fade text-xs-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													  <span aria-hidden="true">&times;</span>
													</button>
													<label class="modal-title text-text-bold-600" id="myModalLabel33">Inline Login Form</label>
												</div>
												<form action="#">
											  	  <div class="modal-body">
													<label>Email: </label>
													<div class="form-group">
														<input type="text" placeholder="Email Address" class="form-control">
													</div>

													<label>Password: </label>
													<div class="form-group">
														<input type="password" placeholder="Password" class="form-control">
													</div>
												  </div>
												  <div class="modal-footer">
													<input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
													<input type="submit" class="btn btn-outline-primary btn-lg" value="Login">
												  </div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>