	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/07/2018 08:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-001-server-3:before { content: "\f100"; }
.flaticon-002-vr-glasses:before { content: "\f101"; }
.flaticon-003-sata-2:before { content: "\f102"; }
.flaticon-004-sata-1:before { content: "\f103"; }
.flaticon-005-sd-card-2:before { content: "\f104"; }
.flaticon-006-port-1:before { content: "\f105"; }
.flaticon-007-computer:before { content: "\f106"; }
.flaticon-008-mouse-2:before { content: "\f107"; }
.flaticon-009-sata:before { content: "\f108"; }
.flaticon-010-port:before { content: "\f109"; }
.flaticon-011-wifi:before { content: "\f10a"; }
.flaticon-012-video-card:before { content: "\f10b"; }
.flaticon-013-keyboard-1:before { content: "\f10c"; }
.flaticon-014-mouse-1:before { content: "\f10d"; }
.flaticon-015-monitor-2:before { content: "\f10e"; }
.flaticon-016-tablet:before { content: "\f10f"; }
.flaticon-017-desktop-1:before { content: "\f110"; }
.flaticon-018-cd-drive:before { content: "\f111"; }
.flaticon-019-server-2:before { content: "\f112"; }
.flaticon-020-lcd:before { content: "\f113"; }
.flaticon-021-jumper:before { content: "\f114"; }
.flaticon-022-harddrive:before { content: "\f115"; }
.flaticon-023-graphic-tablet:before { content: "\f116"; }
.flaticon-024-motherboard-2:before { content: "\f117"; }
.flaticon-025-motherboard-1:before { content: "\f118"; }
.flaticon-026-jack-cable:before { content: "\f119"; }
.flaticon-027-floppy-disc:before { content: "\f11a"; }
.flaticon-028-tablet-pen:before { content: "\f11b"; }
.flaticon-029-joystick:before { content: "\f11c"; }
.flaticon-030-hdd-1:before { content: "\f11d"; }
.flaticon-031-battery:before { content: "\f11e"; }
.flaticon-032-plug:before { content: "\f11f"; }
.flaticon-033-tower:before { content: "\f120"; }
.flaticon-034-radio:before { content: "\f121"; }
.flaticon-035-sd-card-1:before { content: "\f122"; }
.flaticon-036-range:before { content: "\f123"; }
.flaticon-037-projector:before { content: "\f124"; }
.flaticon-038-modem:before { content: "\f125"; }
.flaticon-039-printer-1:before { content: "\f126"; }
.flaticon-040-compact-disc:before { content: "\f127"; }
.flaticon-041-printer:before { content: "\f128"; }
.flaticon-042-ethernet-2:before { content: "\f129"; }
.flaticon-043-server-1:before { content: "\f12a"; }
.flaticon-044-usb:before { content: "\f12b"; }
.flaticon-045-webcam:before { content: "\f12c"; }
.flaticon-046-cooler:before { content: "\f12d"; }
.flaticon-047-card-reader:before { content: "\f12e"; }
.flaticon-048-audio-jack:before { content: "\f12f"; }
.flaticon-049-server:before { content: "\f130"; }
.flaticon-050-microphone:before { content: "\f131"; }
.flaticon-051-dvi-1:before { content: "\f132"; }
.flaticon-052-headset:before { content: "\f133"; }
.flaticon-053-hdmi-1:before { content: "\f134"; }
.flaticon-054-usb-stick:before { content: "\f135"; }
.flaticon-055-transfer:before { content: "\f136"; }
.flaticon-056-pendrive:before { content: "\f137"; }
.flaticon-057-scanner:before { content: "\f138"; }
.flaticon-058-sd-card:before { content: "\f139"; }
.flaticon-059-thunderbolt-2:before { content: "\f13a"; }
.flaticon-060-usb-cable:before { content: "\f13b"; }
.flaticon-061-thunderbolt-1:before { content: "\f13c"; }
.flaticon-062-sound-ports-1:before { content: "\f13d"; }
.flaticon-063-ethernet-1:before { content: "\f13e"; }
.flaticon-064-sound-ports:before { content: "\f13f"; }
.flaticon-065-rom:before { content: "\f140"; }
.flaticon-066-cpu-2:before { content: "\f141"; }
.flaticon-067-ram:before { content: "\f142"; }
.flaticon-068-processor:before { content: "\f143"; }
.flaticon-069-ram-memory-1:before { content: "\f144"; }
.flaticon-070-motherboard:before { content: "\f145"; }
.flaticon-071-hdd:before { content: "\f146"; }
.flaticon-072-ssd-1:before { content: "\f147"; }
.flaticon-073-ssd:before { content: "\f148"; }
.flaticon-074-graphic-card-1:before { content: "\f149"; }
.flaticon-075-cpu-1:before { content: "\f14a"; }
.flaticon-076-router:before { content: "\f14b"; }
.flaticon-077-hard-drive-1:before { content: "\f14c"; }
.flaticon-078-monitor-1:before { content: "\f14d"; }
.flaticon-079-keyboard:before { content: "\f14e"; }
.flaticon-080-mouse:before { content: "\f14f"; }
.flaticon-081-cooling-fan:before { content: "\f150"; }
.flaticon-082-transfer-switch:before { content: "\f151"; }
.flaticon-083-cd-player:before { content: "\f152"; }
.flaticon-084-supply:before { content: "\f153"; }
.flaticon-085-sound-card:before { content: "\f154"; }
.flaticon-086-cpu:before { content: "\f155"; }
.flaticon-087-graphic-card:before { content: "\f156"; }
.flaticon-088-ram-memory:before { content: "\f157"; }
.flaticon-089-hard-drive:before { content: "\f158"; }
.flaticon-090-speakers:before { content: "\f159"; }
.flaticon-091-desktop:before { content: "\f15a"; }
.flaticon-092-monitor:before { content: "\f15b"; }
.flaticon-093-thunderbolt:before { content: "\f15c"; }
.flaticon-094-cable:before { content: "\f15d"; }
.flaticon-095-kettle:before { content: "\f15e"; }
.flaticon-096-ethernet:before { content: "\f15f"; }
.flaticon-097-dvi:before { content: "\f160"; }
.flaticon-098-display:before { content: "\f161"; }
.flaticon-099-vga:before { content: "\f162"; }
.flaticon-100-hdmi:before { content: "\f163"; }