				<a class="btn btn-info" href="javascript:" id="return-to-top"><i class="icon-home4 "></i></a>
		</div>
	</div>
</div>

		<footer class="footer footer-static footer-light navbar-border footer-fixed">
			<div class="container text-center text-md-left">
				<div class="row">
					<div class="col-md-4 col-sm-12">
				       <div class="card-block">
				           <div class="card-text">
				              	<h5>Thông tin</h5>
				               <ul class="list-style-circle">
				                   <li>Địa chỉ: TPHCM</li>
				                   <li>SDT: 0832496568</li>
				               </ul>
				           </div>
				       </div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="card-block">
				           <div class="card-text">
				              	<h5>Chăm sóc khách hàng</h5>
				               <ul class="list-style-circle">
				                   <li><a class="text-info" href="/sale-off">Khuyến mãi</a></li>
				                   <li><a class="text-info" href="/buy-guide">Hướng dẫn mua hàng</a></li>
				                   <li><a class="text-info" href="/sell-policy">Chính sách bán hàng</a></li>
				                   <li><a class="text-info" href="/ship-policy">Chính sách giao hàng</a></li>
				               </ul>
				           </div>
				       </div>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="card-block">
				           <div class="card-text">
								<p>Email:<a href="mailto:mannguyen281129@gmail.com" class="text-success"> mannguyen281129@gmail.com</a></p>
								<p>Đăng ký nhận tin</p>
								<div class="input-group nav navbar-nav float-xs-left">
									<input type="text" class="form-control border-warning" placeholder="email của bạn"  style="width:70%">
									<div class="input-group-append">
									    <button class="btn btn-outline-warning" type="button"><i class="icon-envelope-o"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr size="auto" style="border-color:#0166FE">
				<div class="row">
					<p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2018 , All rights reserved - Thiết kế web bởi: Nguyễn Minh Mẫn. </span><span class="float-md-right d-xs-block d-md-inline-block text-danger"><i class="icon-alert-circled yellow"></i>This website is under construction<i class="icon-alert-circled yellow"></i></span></p>
			    </div>
		    </div>
		    </footer>
